<h2> Add a new Figure: </h2>

<form method="POST" action="/figures">
  <label> Name: </label>
  <input type="text" name="figure[name]" id="figure_name"><br>

  <input type="submit" value="Create New Figure">
</form>
